

 .footerSection{
  background-color: var(--primary);
  padding: 3rem 0;
  color: var(--text);
  margin-top: 2rem;
  text-decoration: none;
}
.footerRecentPosts a{
  color: var(--text);
  font-size: 12px;
  display:block;
  margin: 1rem 0;
  text-decoration: none;
}
.footerRecentPosts a:hover{
  color: var(--white);
}

